requests
beautifulsoup4
streamlit
numpy
Pillow
streamlit-drawable-canvas
opencv-python
keras~=2.8.0
tensorflow~=2.8.0
scikit-learn==1.0.2
xgboost==1.6.2
matplotlib == 3.4.2
pyowm == 3.2.0
DateTime == 4.3