:root {
	--primary-color: #bd93f9;
	--background-color: #282a36;
	--text-color: #f8f8f2;
	--secondary-color: #44475a;
	--header-page-size: 30px;
	--section-header-size: 24px;
	--text-size: 20px;
}
body,
.stApp.streamlit-wide.css-ffhzg2.eczokvf1,
.stApp.css-fg4pbf.eczokvf1 {
	background-color: var(--background-color);
}
.css-9s5bis.edgvbvh3,
.css-fg4pbf {
	color: var(--text-color);
}
.css-6qob1r.e1fqkh3o3 {
	background-color: var(--secondary-color);
}
.css-18e3th9 {
	padding-top: 0;
}

a.css-eczf16.e16nr0p32 {
	display: none;
}
.css-1avcm0n.e8zbici2,
.css-18ni7ap.e8zbici2,
#MainMenu,
footer {
	/* visibility: hidden; */
}
.css-81oif8.effi0qh3 {
	color: var(--text-color);
}

button.css-5uatcg.edgvbvh10:focus,
button.css-5uatcg.edgvbvh10,
button.css-1x8cf1d.edgvbvh10:focus,
button.css-1x8cf1d.edgvbvh10 {
	background: var(--primary-color);
	color: var(--text-color);
	box-shadow: none;
	outline: none;
	border: none;
}
h1,
h2,
h3,
h4,
h5,
p,
.text-color {
	color: var(--text-color);
}
.header-page {
	font-size: var(--header-page-size);
	font-weight: bold;
}

.header-section {
	display: inline-block;
	font-size: var(--section-header-size);
	box-sizing: content-box;
	position: relative;
}

.header-active.header-section::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 50%;
	border-radius: 10px;
	height: 5px;
	background-color: var(--primary-color);
	margin: 10px 0;
}
.st-d6 {
	border-left-color: var(--primary-color);
}
.st-d7 {
	border-right-color: var(--primary-color);
}
.st-d8 {
	border-top-color: var(--primary-color);
}
.st-d9 {
	border-bottom-color: var(--primary-color);
}

.paragraph-text {
	font-size: var(--text-size);
}

.center-header {
	text-align: center;
}

.about-list li {
	list-style: none;
}

/* card profile */
.container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	margin: 40px auto;
}
.card-profile {
	width: 300px;
	height: 400px;
	background: #231e39;
	color: var(--text-color);
	border-radius: 5px;
	text-align: center;
	box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.75);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.cover-photo {
	background: url(https://images.unsplash.com/photo-1540228232483-1b64a7024923?ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80);
	background: url(https://cdn.pixabay.com/photo/2017/07/31/22/05/feathers-2561511_1280.jpg);
	background: url(https://img.freepik.com/free-vector/pixel-art-vacation-background_52683-86708.jpg?w=1800&t=st=1670344523~exp=1670345123~hmac=82a3357dfd286293e1b1dc790c5e7f9f12b690b930824e8a56792186515d9a5c);
	background: url(https://img.freepik.com/free-vector/pixel-art-mystical-background_52683-87349.jpg?w=1800&t=st=1670344653~exp=1670345253~hmac=5b3051f180dd7c85f02460a0ff021a08b12e763a1884ea7f37cc6cad37e4be5d);
	height: 160px;
	width: 100%;
	border-radius: 5px 5px 0 0;
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
}
.profile {
	height: 120px;
	width: 120px;
	border-radius: 50%;
	margin: 95px 0 0 -170px;
	border: 1px solid #1f1a32;
	padding: 7px;
	background: #292343;
}
.profile-name {
	font-size: 20px;
	font-weight: bold;
	margin: 25px 0 20px 112px;
}
.about {
	/* margin: 20px 0 0 30px; */
	margin: 0;
	padding: 0 20px 10px 20px;
	line-height: 21px;
	text-align: left;
}
.social-button {
	margin-top: 20px;
}
.card-profile i {
	padding-left: 20px;
	font-size: 20px;
	margin-bottom: 20px;
	cursor: pointer;
	transition: 0.5s;
}
.card-profile i:hover {
	color: var(--primary-color);
}

/* display Img */
.container-image {
	margin-bottom: 20px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 300px);
	gap: 30px;
	overflow: hidden;
}
.container-image img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
/* end display img */
